<div class="dashboard-container">
  <div class="dashboard-card" [routerLink]="'/dashboard-master'">
    <h3>Master</h3>
    <p>Manage master data</p>
  </div>

  <div class="dashboard-card" [routerLink]="'/sale-report'">
    <h3>Sales</h3>
    <p>View and manage sales</p>
  </div>

  <div class="dashboard-card" [routerLink]="'/customer-details'">
    <h3>Customer Reports</h3>
    <p>Customer information</p>
  </div>

  <div class="dashboard-card" [routerLink]="'/customer-registration'">
    <h3>New Customer</h3>
    <p>New Customer Registration and place orders</p>
  </div>

  <div class="dashboard-card" [routerLink]="'/dress-report'">
    <h3>Dress Reports</h3>
    <p>View and manage dress reports</p>
  </div>
</div>
