/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-image: url("./assets/background.jpg");
  background-color: #F9FAFB;
  background-size: cover;
}
.heading {
  text-align: center;
  margin: 10px 0px;
  color: black;
  padding: 10px 0px;
  font-weight: 600;
  font-size: x-large;
}
