

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: auto;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #faf9fd;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.dress-master-container {
  display: flex;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    form {
      width: 50%;
    }
    .drag-container {
      width: 50%;
    }
}


@media (max-width: 600px) {
  form, table {
    width: 100%;
  }

  input, button {
    font-size: 14px;
  }
}

.back-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 500;

  &:hover {
    background-color: #d6d6d6;
    transform: translateX(-2px);
  }

  &:active {
    background-color: #c0c0c0;
  }
}

// drag container
.drag-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.drag-item {
  cursor: move;
}

.mat-card {
  padding: 12px 20px;
  transition: transform 0.2s ease;
}

.item-content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.item-type {
  color: #3f51b5;
}

.item-price {
  color: #4caf50;
}
